html {
    scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: 100px;
}

@keyframes border-glow {

    0%,
    100% {
        border-color: transparent;
    }

    30%,
    70% {
        border-color: oklch(70.4% 0.14 182.503);
    }
}

[id]:target {
    animation: border-glow 2s ease-in-out;
}

.no-copy {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #14b8a6;
}

html.dark ::-webkit-scrollbar-track {
    background: transparent;
}

html.dark ::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border: 3px solid transparent;
    background-clip: padding-box;
}

html.dark ::-webkit-scrollbar-thumb:hover {
    background-color: #2dd4bf;
}

@keyframes fullBounce {

    0%,
    100% {
        top: 6px;
    }

    50% {
        top: 28px;
    }
}